<h1>Trip Details</h1>

<ul>
  <li>Date: <%= @trip.date %></li>
<!--  Add link to driver after establishing nested relationship-->
  <li>Driver: <%= @trip.driver ? @trip.driver.name : "User account deleted" %></li>
<!--  Add link to passenger after establishing nested relationship-->
  <li>Passenger: <%= @trip.passenger ? @trip.passenger.name : "User account deleted" %></li>
  <li>Rating: <%= @trip.rating %></li>
  <li>Cost: $<%= @trip.cost %></li>
</ul>

<%= link_to "Edit", edit_trip_path(@trip) %>
<%= link_to "Delete", trip_path(@trip), method: :delete, data: { confirm: "Are you sure you want to delete trip?"} %>





