<% content_for :title, "#{@driver.name}" %>

<div class="container-content">
  <h1>Driver Details </h1>
   <div class="summary">
    <p><strong> Name:</strong> <%= @driver.name %> </p>
    <p><strong> Vin: </strong> <%= @driver.vin %> </p>
    <p><strong> Availability Status: </strong> <%= @driver.available %></p>

    <p><strong> Total Earnings: </strong>$<%= @driver.total_earnings %></p>
    <p><strong> Average rating: </strong><%= @driver.average_rating %></p>
    <br>

   <strong>List of Trips: </strong>
    <ol>
      <% @driver.total_driver_trips.each do |trip| %>
        <br>
        <li> <%= link_to trip.date, trip_path(trip.id) %> </li>
      <% end %>
    </ol>

    <br>
    <%= link_to "Edit Driver", edit_driver_path(@driver) %> |
    <%= link_to " Delete Driver", driver_path(@driver), method: :delete, data: {confirm: "Are you sure?"}%>
   </div>
</div>