<h1>Driver Details </h1>
<!--<p>Find me in app/views/drivers/show.html.erb</p>-->

<p><strong> Name:</strong> <%= @driver.name %> </p>
<p> <strong> Vin: </strong> <%= @driver.vin %> </p>
<p> <strong> Availability Status: </strong> <%= @driver.available %></p>
<%= link_to "Edit Driver", edit_driver_path(@driver) %> |
<%= link_to " Delete Driver", driver_path(@driver), method: :delete, data: {confirm: "Are you sure?"}%>
<br> Total Earnings: <%= @driver.total_earnings %>
<br> Average rating: <%= @driver.average_rating %>
<!--<h4><%#= link_to "Return to home", tasks_path %></h4>-->