<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header><h1>RideShare Rails Project</h1>
    <nav>
      <ul class="navigation-links">

        <li><div><%= link_to 'Drivers', drivers_path %></div></li>
        <li><div><%= link_to 'Passengers', passengers_path %></div></li>
        <li><div><%= link_to 'Add New Driver', new_driver_path %></div></li>
        <li><div><%= link_to 'Add New Passenger', new_passenger_path %></div> </li>
        <li><div><%= link_to 'Return to Homepage', homepages_path %> </div></li>
      </ul>
    </nav>

  </header>
  <body>
    <%= yield %>
  </body>
</html>
